@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Baloo+Bhaina+2&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
nav{
    background-color: rgb(27, 8, 27);
    color: white;
    height: 65px;
    display: flex;
    align-items: center;
    font-size: 27px;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style: none;
}

/* MAIN LAYOUT */
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* GRID */
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover{
    background-color: rgb(217, 180, 252);
}

/* WIN LINE */
.line{
    background-color: black;
    height: 3px;
    width: 20vw;
    position: absolute;
    visibility: hidden;
}

/* GAME INFO */
.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

/* MODE SELECT */
.mode{
    margin: 15px 0;
    font-size: 18px;
}

.mode select{
    padding: 5px 8px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

/* STATUS + BUTTONS */
.controls{
    margin-top: 10px;
}

.info{
    font-size: 25px;
    margin-right: 10px;
}

#reset, #mute{
    margin: 0 8px;
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    font-size: 14px;
}

#reset{
    background-color: rgb(166, 237, 243);
}

#mute{
    background-color: rgb(255, 210, 210);
}

/* WIN GIF */
.imgbox{
    width: 200px;
    margin-top: 20px;
}

.imgbox img{
    width: 100%;
    visibility: hidden;
}

/* BORDER FIXES */
.bt-0{ border-top: 0; }
.bb-0{ border-bottom: 0; }
.bl-0{ border-left: 0; }
.br-0{ border-right: 0; }

/* RESPONSIVE */
@media screen and (max-width: 950px){
    .gameContainer{
        flex-wrap: wrap;
    }

    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }

    .gameInfo h1{
        font-size: 1.5rem;
    }
}
